# macOS
.DS_Store

# Node
node_modules/
backend/node_modules/
backend/dist/

# Env files
.env
backend/.env
backend/.env.*.local
backend/google-cloud-sdk-*/
backend/google-cloud-sdk/
backend/google-cloud-sdk-*.tar.gz
